[run]
branch = True
omit =
    backend/src/schemas/*
    backend/src/database/db_setup_tables.py
    backend/src/main.py
    backend/src/__init__.py
    backend/src/database/__init__.py
    backend/src/schemas/__init__.py
    backend/src/api/v1/__init__.py
    backend/src/api/v1/routes/__init__.py
    backend/src/services/__init__.py  

[report]
show_missing = True
skip_covered = False
